---
creation_rules:
  - path_regex: kubernetes/.*\.sops\.ya?ml
    encrypted_regex: "^(data|stringData)$"
    key_groups:
      - age:
          - age1m45ljlf7h8xf2skcaqzknllqhl3n3z82mx02rnx98mx7muluugfs7veg4e
  - path_regex: kubernetes/.*\.sops\.(env|ini|json|toml)
    key_groups:
      - age:
          - age1cycu5atyymkjyjkxzx9vtz8a6f00q63rh0hjzlmvqtsnshjmxyjq8g2u7t
