global
    daemon
    maxconn 4096

defaults
    mode tcp
    timeout connect 4s
    timeout client 30s
    timeout server 30s
    retry-on all-retryable-errors

resolvers cluster_ns
    parse-resolv-conf

    hold valid    10s
    hold other    30s
    hold refused  30s
    hold nx       30s
    hold timeout  30s
    hold obsolete 30s

    resolve_retries 3
    timeout retry 1s
    timeout resolve 1s

frontend http
    bind :8080
    http-request use-service prometheus-exporter if { path /metrics }
    default_backend stats

backend stats
    mode http
    stats enable
    stats uri /
    stats refresh 5s
    stats show-legends
    stats admin if TRUE

resolvers k8s
    parse-resolv-conf
    hold other           10s
    hold refused         10s
    hold nx              10s
    hold timeout         10s
    hold valid           10s
    hold obsolete        10s

frontend mariadb-cluster
    bind *:3306
    default_backend mariadb-server

backend  mariadb-server
    balance source
    option	tcpka
    option mysql-check user haproxy
    server mariadb01 192.168.254.60:3306 check weight 1 resolvers cluster_ns
    server mariadb02 192.168.250.61:3306 check weight 1 resolvers cluster_ns
    server mariadb03 192.168.250.62:3306 check weight 1 resolvers cluster_ns
    server mariadb04 192.168.240.62:3306 check weight 1 resolvers cluster_ns
    server mariadb05 192.168.240.62:3306 check weight 1 resolvers cluster_ns
