global
    daemon
    ssl-server-verify none
    ssl-default-bind-options ssl-min-ver TLSv1.2 prefer-client-ciphers
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-ciphers ECDH+AESGCM:ECDH+CHACHA20:ECDH+AES256:ECDH+AES128:!aNULL:!SHA1:!AESCCM
    ssl-default-server-options ssl-min-ver TLSv1.2
    ssl-default-server-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-server-ciphers ECDH+AESGCM:ECDH+CHACHA20:ECDH+AES256:ECDH+AES128:!aNULL:!SHA1:!AESCCM
    tune.ssl.default-dh-param 2048
    maxconn 1024

defaults
    mode tcp
    option tcplog
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    retry-on all-retryable-errors

resolvers cluster_ns
    parse-resolv-conf

    hold valid    10s
    hold other    30s
    hold refused  30s
    hold nx       30s
    hold timeout  30s
    hold obsolete 30s

    resolve_retries 3
    timeout retry 1s
    timeout resolve 1s

frontend http
    bind :8080
    http-request use-service prometheus-exporter if { path /metrics }
    default_backend stats

backend stats
    mode http
    stats enable
    stats uri /
    stats refresh 5s
    stats show-legends
    stats admin if TRUE

resolvers k8s
    parse-resolv-conf
    hold other           10s
    hold refused         10s
    hold nx              10s
    hold timeout         10s
    hold valid           10s
    hold obsolete        10s

frontend ldaps
    bind *:636
    default_backend ldap-server

backend ldap-server
    balance first
    option tcp-check
    tcp-check connect port 636
    server dc01 192.168.254.31:636 check inter 5s observe layer4 on-error mark-down resolvers cluster_ns
    server dc02 192.168.254.32:636 check inter 5s observe layer4 on-error mark-down resolvers cluster_ns
