{
  "id": "192.168.254.81",
  "name": "192.168.254.81",
  "boot": {
    "kernel": "/assets/main/kernel-amd64",
    "initrd": ["/assets/main/initramfs-amd64.xz"],
    "args": [
      "initrd=initramfs-amd64.xz",
      "init_on_alloc=1",
      "slab_nomerge",
      "pti=on",
      "console=tty0",
      "console=ttyS0",
      "printk.devkmsg=on",
      "talos.platform=metal",
      "talos.config=http://192.168.254.2:9080/assets/main/192.168.254.81.yaml"
    ]
  }
}
